.content {
	margin-top: 3em;
}
.contact {
	align-items: flex-start;
}

.form-information {
	margin-bottom: 50px;
}
.form-wrapper {
	display: none;
	&.show {
		display: block;
	}
}

.form-footer {
	line-height: 1.7;
}
.row-3 {
	display: grid;
	grid-template-columns: repeat(3,minmax(0,1fr));
	grid-gap: 20px;
}
.row-vertical {
	.form-row {
		flex: 1;
		display: block;
		label {
			margin-bottom: 10px;
			display: inline-block;
			width: 100%;
		}
		>input:not([size]):not([type=button i]):not([type=submit i]):not([type=reset i]):not([type=checkbox i]):not([type=radio i]),
		>textarea {
			width: 100%;
		}
	}
}
.form-row {
	display: flex;
	// justify-content: center;
	// align-items: center;
	margin-bottom: 24px;
	label {
		width: 25%;
		margin: 5px 20px 0 0;
		font-weight: 700;
	}
	> input:not([size]):not([type=button i]):not([type=submit i]):not([type=reset i]):not([type=checkbox i]):not([type=radio i]),
	> textarea {
		width: 75%;
		padding: 11px 12px;
		font-size: 14px;
	}
	> span,
	.form-row-right {
		width: 75%;
	}
	ul {
		list-style-type: none;
		padding: 0;
		li {
			display: inline-flex;
			align-items: center;
		}
		label {
			margin: 0 20px 0 5px;
			width: 100%;
		}
	}
	td, th {
		padding: 15px 0;
	}
}
.row-radio {
	margin-bottom: 15px;
	label {
		display: inline;
		margin-right: 10px;
	}
}
.row-content__item {
	display: none;
	&.active {
		display: block;
	}
}
.form-description {
	font-size: 12px;
	margin-top: 5px;
}
.check_ma {
	white-space: nowrap;
	padding: 12px 24px;
}
.form-progress {
	display: none;
	text-align: center;
	img {
		width: 100px;
	}
}

.result-check {
	margin: 15px 0;
	td, th {
		padding: 1rem;
	}
	.button {
		padding: 10px 22px;
	}
	&.success-popup {
		display: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 999;
		/* display: none; */
		width: 100%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
		outline: 0;
		background: rgba(0,0,0,.5);
		margin: 0;
		padding: 0;
		border: 0;
		transition: opacity .15s linear;
		&.active {
			display: block;
		}
		.modal-dialog {
			position: relative;
			width: auto;
			background: #fff;
			border-radius: 5px;
			max-width: 1200px;
			margin-right: auto;
			margin-left: auto;
			overflow-y: auto;
			max-height: 90vh;
			transform: translate(0, -50%);
			top: 50%;
		}
		.modal-header {
			text-align: right;
		}
		svg {
			cursor: pointer;
		}
		table {
			margin: 0;
		}
	}
}

.form__check-code {
	display: flex;
	align-items: center;
	label {
		width: 25%;
		margin: 0 20px 0 0;
	}
	> div {
		width: 75%;
	}
}
.add-field {
	font-size: 12px;
}


@media (max-width: 767px) {
	.contact {
		text-align: left;
	}
}